<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GiteHouse</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fullcalendar/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <nav class="navbar navbar-expand-sm mt-auto">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-8" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="media-body">
            <a class="navbar-brand" href="@Url.Action("Index","Home")>
">
                <img src="~/images/yourte.jpg" width="70" height="70" alt="logo" class="logo">
                GiteHouse
            </a>
        </div>
       
       
        <div class="collapse navbar-collapse justify-content-between" id="navbar-list-8">
            <div class="navbar-nav">

                <a class="nav-item" href="@Url.Action("Create","Hebergements")"><i class="fa fa-plus" aria-hidden="true"></i> Nouvelle Annonce </a>


                <a class="nav-item" href="@Url.Action("Index","Messages")"><i class="fa fa-envelope-o" aria-hidden="true"></i> Messagerie </a>

                <a class="nav-item" href="@Url.Action("Index","Hebergements")"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Mes chambres d'hôte </a>

                <a class="nav-item" href="@Url.Action("Index","Utilisateurs")"><i class="fa fa-comments" aria-hidden="true"></i> Mes avis </a>

                <a class="nav-item" href="@Url.Action("Index","Saisons")"><i class="fa fa-calendar" aria-hidden="true"></i> Planning </a>


            </div>

            <div class="right-side d-flex">
                <form class="form-inline">
                    <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> Mon Compte
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Edit","Utilisateurs")"> Mes Informations </a>
                            <a class="dropdown-item" href="@Url.Action("Details","Utilisateurs")"> Mon Profil </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Tarifications")"><i class="fa fa-bar-chart"></i> Mes Paiements </a>
                            <a class="dropdown-item" href="@Url.Action("Index","Home")"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
   

    <div class="container body-content">

        <div class="card">
            <div class="card-body" style="opacity:0.9">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
