<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GiteHouse</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fullcalendar/css")
    @Styles.Render("~/fontawesome/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nom d'application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@


    <nav class="navbar navbar-dark bg-light navbar-expand-sm mt-auto">
        <a class="navbar-brand" href="#">
            <img src="~/images/yourte.jpg" width="70" height="70" alt="logo" class="logo">
            GiteHouse
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-8" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-list-8">
            <div class="navbar-nav">
                <a class="nav-item" href="@Url.Action("Create","Hebergements")">Nouvelle Annonce</a>

                <a class="nav-item" href="@Url.Action("Index","Messages")">Messagerie</a>

                <a class="nav-item" href="@Url.Action("Index","Home")">Mes chambres d'hôte</a>

                <a class="nav-item" href="@Url.Action("Index","Utilisateurs")">Mes avis</a>


            </div>

            <div class="right-side d-flex">
                <form class="form-inline">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="..." width="40" height="40" class="rounded-circle"> Mon Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Edit","Utilisateurs")">Mes Informations</a>
                            <a class="dropdown-item" href="@Url.Action("Details","Utilisateurs")">Mon Profil</a>
                            <a class="dropdown-item" href="@Url.Action("Index","Tarifications")">Mes Paiements</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome")
    @RenderSection("scripts", required: false)
</body>
</html>
