@{
    GiteHouse.Models.SessionUser sessionUser = (GiteHouse.Models.SessionUser)Session["Utilisateur"];

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GiteHouse</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fullcalendar/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column">

    <nav class="navbar navbar-expand-xl bg-nav justify-content-between">
        <div class="nav-item">
            @{
                if (sessionUser != null && sessionUser.User != null)
                {
                    <a class="navbar-brand" href="@Url.Action("Compte", "Utilisateurs")">
                        <img src="~/images/yourte.jpg" width="50" height="50" alt="logo" class="logo">
                        @Html.ActionLink("GiteHouse", "Compte", "Utilisateurs", null, new { @class = "navbar-brand" })
                    </a>
                }
                else
                {
                    <a class="navbar-brand" href="@Url.Action("Connexion", "Utilisateurs")">
                        <img src="~/images/yourte.jpg" width="50" height="50" alt="logo" class="logo">
                        @Html.ActionLink("GiteHouse", "Connexion", null, "Utilisateurs", new { @class = "navbar-brand" })
                    </a>
                }
            }
        </div>
        <div class="navbar-nav justify-content-end">

            @{
                if (sessionUser != null && sessionUser.User != null)

                {
                    @Html.Partial("NavConnecte")
                }
                else
                {
                    @Url.Action("Connexion", "Utilisateurs")
                }
            }
        </div>
    </nav>

    <div class="container body-content m-auto">
        <div class="card bg-card p-5 mt-5">
            <div class="card-title bg-nav text-center p-3">
                @{
                    if (sessionUser != null && sessionUser.User != null)
                    {
                        <a class="card-link" href="@Url.Action("Compte", "Utilisateurs")"> @sessionUser.User.Prenom @sessionUser.User.Nom </a>
                    }
                }
            </div>
            <div class="card-body bg-card pt-5 pr-5 pl-5">
                @RenderBody()
            </div>
            <div class="card-footer bg-dark">
            </div>
        </div>
        <hr />
        <footer>
            <p style="color: #9a9af7; font-size: large">&copy; @DateTime.Now.Year - GiteHouse Jury Project </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
