@{
    GiteHouse.Models.SessionUser sessionUser = (GiteHouse.Models.SessionUser)Session["Utilisateur"];

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GiteHouse</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fullcalendar/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-xl bg-sxxs mt-auto ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-8" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="media-body">
            <a class="navbar-brand" href="@Url.Action("Compte", "Utilisateurs")">
                <img src="~/images/yourte.jpg" width="70" height="70" alt="logo" class="logo">
                @Html.ActionLink("GiteHouse", "Compte", "Utilisateurs", new { @class = "navbar-brand" })
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-list-8">
            <ul class="navbar-nav">
                @{
                    if (sessionUser != null && sessionUser.User != null)

                    {
                        @Html.Partial("NavConnecte")
                    }
                    else
                    {
                        @Html.ActionLink("GiteHouse", "Connexion", "Utilisateurs", new { @class = "navbar-brand" })
                    }
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content m-auto">
        <div class="card">
            <div class="card-title bg-dark">
                @{
                    if (sessionUser != null && sessionUser.User != null)

                    {
                                <a class="card-link" href="@Url.Action("Compte", "Utilisateurs")"> Bienvenue @sessionUser.User.Prenom @sessionUser.User.Nom </a>
                    }
                }
            </div>
            <div class="card-body">
                @RenderBody()
            </div>
            <div class="card-footer bg-dark">

            </div>
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
            </footer>
        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
