<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <hgroup>
        <h1>Erreur.</h1>
        <h2>Une erreur s'est produite lors du traitement de votre demande.</h2>
    </hgroup>
</body>
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">

            <div class="media-body">
                <a class="navbar-brand" href="@Url.Action("Index","Home")>
">
                    <img src="~/images/yourte.jpg" width="70" height="70" alt="logo" class="logo">
                    GiteHouse
                </a>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"> Menu </p>

    <ul class="nav flex-column mb-5">
        <li>
            <a class="nav-item" href="@Url.Action("Create","Hebergements")"><i class="fa fa-plus" aria-hidden="true"></i> Nouvelle Annonce </a>
        </li>
        <li>
            <a class="nav-item py-4" href="@Url.Action("Index","Messages")"><i class="fa fa-envelope-o" aria-hidden="true"></i> Messagerie </a>
        </li>
        <li>
            <a class="nav-item py-4" href="@Url.Action("Index","Home")"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Mes chambres d'hôte </a>
        </li>
        <li>
            <a class="nav-item py-4" href="@Url.Action("Index","Utilisateurs")"><i class="fa fa-comments" aria-hidden="true"></i> Mes avis </a>
        </li>
        <li>
            <a class="nav-item py-4" href="@Url.Action("Index","Utilisateurs")"><i class="fa fa-calendar" aria-hidden="true"></i> Planning </a>
        </li>
    </ul>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

</div>

</html>
