@model GiteHouse.Photo

@{
}


    <title>Details</title>


    <div>
        <h4>Photo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDefault)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDefault)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NomAleatoire)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NomAleatoire)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hebergement.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hebergement.Nom)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdPhoto }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

