@model GiteHouse.Utilisateur


<div>
  
    <h2>Mon Compte</h2>

    <hr />
    <dl class="pt-5">
       
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>

<p class="float-lg-right mr-5 pt-5">
    @Html.ActionLink("Modifier", "Edit", new { id = Model.IdUtilisateur }, new { @class = "btn btn-outline-info btn-lg" }) 

</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}