@model GiteHouse.Utilisateur

@{
    ViewBag.Title = "Edit";
}

<h2>Vos informations personnelles</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<div class="d-flex flex-column align-items-center">

    <div class="form-horizontal pt-5">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdUtilisateur)


        <div class="d-flex form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex form-group">
            @Html.LabelFor(model => model.Prenom, "Prénom", htmlAttributes: new { @class = "control-label col-md-8 flex-row" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" d-flex form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex form-group">
            @Html.LabelFor(model => model.Tel, "Téléphone", htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
    <div class="form-group float-lg-right m-5">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="btn btn-outline-info btn-lg" />
        </div>
    </div>

}

    <div class="m-5">
        @Html.ActionLink("Retour", "Compte", new { id = Model.IdUtilisateur }, new { @class = "btn btn-outline-danger m-1 btn-lg" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
