@model GiteHouse.Adresse

<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal m-3">
    <h4> Devenez Hôte <br /><br />Etape 2 : Adresse du bien </h4>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group mt-5 w-100">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Libelle, "Libellé", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Libelle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Libelle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdRegion, "Région", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdRegion", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdRegion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdDepartement, "Département", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-10">
            @Html.DropDownList("IdDepartement", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdDepartement, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdVille, "Ville", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdVille", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdVille, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group float-sm-right pt-5">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Suivant" class="btn btn-outline-success btn-lg" />
        </div>
    </div>
</div>
}
