@model GiteHouse.Adresse

@{

}


<h3>Vous êtes sur le point de supprimer cette adresse</h3>
<div>
    <h4>En êtes-vous sur?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departement.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departement.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville.IdDepartement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville.IdDepartement)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger " /> |
            @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-outline-danger" })
        </div>
    }
</div>

