@model GiteHouse.Adresse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Hebergements/Create.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdVille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVille)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAdresse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
