@model IEnumerable<GiteHouse.Hebergement>

@{
    ViewBag.Title = "Index";
}

<h2 class="mb-3">Vos chambres d'hôte</h2>


<table class="table mt-5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photos)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayName("Description Courte")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surface)
        </th>
        <th>
            @Html.DisplayName("Prix / Nuit")
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ if (item.Photos.Count > 0)
                    {
                        <img src="../@item.Photos.First().Nom" alt="Photo" height="100" width="100" />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionCourte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixBase)
            </td>

            <td>
                <div class="d-flex mt-3">
                    <div>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.IdHebergement }, new { @class = "btn btn-outline-info btn-sm m-2", @style = "responsive-width" })  
                    </div>
                    <div>
                        @Html.ActionLink("Détails", "Details", new { id = item.IdHebergement }, new { @class = "btn btn-outline-secondary btn-sm m-2", @style = "responsive-width" }) 
                    </div>
                    <div>
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.IdHebergement }, new { @class = "btn btn-outline-danger btn-sm m-2", @style = "responsive-width" })
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<p class="float-lg-right mr-5 mt-5">
    @Html.ActionLink("Ajouter", "Create", null, new { @class = "btn btn-outline-success btn-lg" })
</p>