@model GiteHouse.Tarification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrixNuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixNuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hebergement.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hebergement.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saison.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saison.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTarification }) |
    @Html.ActionLink("Back to List", "Index")
</p>
