@model IEnumerable<GiteHouse.Tarification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrixNuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hebergement.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saison.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrixNuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hebergement.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saison.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTarification }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTarification }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTarification })
        </td>
    </tr>
}

</table>
