@model IEnumerable<GiteHouse.Saison>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Hebergements/Create.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixNuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateur.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixNuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateur.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSaison }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSaison }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSaison })
        </td>
    </tr>
}

</table>
